<h3>welcome</h3>

<a href="/users/new">new user</a>
<a href="/users/login">login</a>


<!-- <form class="create-list_entry" action="/api/list_entry" method="post">
    <input type="text" id="my-name" name="list_entry[name]">
    <input type="submit" value="List Entry">

</form> -->

<!-- <section id="list_entries-list">

</section> -->
