<div id="cooldiv" class="container">

<div id="navbar" class="row">

<div class="four columns">  <a id="dark-button" class="button" href="/users/new">REGISTER</a></div>
<div class="four columns">  <a id="dark-button" class="button" href="/users/login">LOGIN</a></div>
<div class="four columns">  <a id="dark-button" class="button" href="/users/profile">PROFILE</a></div>


</div>

</div>

<h3>welcome</h3>
