<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SignUp</title>
        <link rel="stylesheet" href="/css/styles.css">

        <script type="text/template" id='list_entry-template'>
            <h3>
            <%%= name %>
            </h3>
            <button type="button" class="remove">remove</button>

        </script>

    </head>
    <body>

        <%= yield %>

    </body>
</html>
