<h3>welcome back... please sign in</h3>

<!-- log in form -->
<form action="/sessions" method="post">
    <input type="text" name="username" placeholder='...username'>
    <input type="password" name="password" placeholder='...password'>
    <input type="submit" value="Log In">

</form>
