<div id="cooldiv" class="container">

<div id="navbar" class="row">

<div class="four columns">  <a id="dark-button" class="button" href="/users/new">REGISTER</a></div>
<div class="four columns">  <a id="dark-button" class="button" href="/users/login">LOGIN</a></div>
<div class="four columns">  <a id="dark-button" class="button" href="/users/profile">PROFILE</a></div>


</div>

</div>
<h3>hi there... glad you're about to join us!</h3>




<form action="/users" method="post">
    <div class="row">
        <div class="six columns">
            <label class="band-name">Band Name</label>
            <input class="u-full-width" type="text" name="user[username]" placeholder='...band name'>
        </div>
        <div class="six columns">
            <label class="band-name">Password</label>
            <input class="u-full-width" type="password" name="password" placeholder='...password'>
        </div>

    </div>
    <input class="button-primary" type="submit" value="SignUp">
</form>
