<h3>hi there... glad you're about to join us!</h3>


<form action="/users" method="post">
    <input type="text" name="user[username]" placeholder='...username'>
    <input type="password" name="password" placeholder='...password'>
    <input type="submit" value="SignUp">

</form>
